<footer class="site-footer h-card container-md px-3 my-6">  
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <hr/>

    <div class="wrapper">
        <div class="row footer-col-wrapper ">
            <div class="col-4 footer-col">
                <ul style="font-size: 16px; list-style-type: none;">
                    <li><a href="/now">now</a></li>
                    <li><a href="/about">about</a></li>
                </ul>
            </div>
            <div class="col-4 footer-col">
                <ul style="font-size: 16px; list-style-type: none;">
                    <li><a href="/blogroll.xml">blogroll</a></li>
                    <li><a href="/feed.xml">rss</a></li>
                </ul>
            </div>

            <div class="col-4 footer-col" style="font-size:16px;">
                    <p style="margin-bottom: 0 !important;">{{- site.description | escape -}}</p>
            </div>
        </div>
    </div>
</footer>
