<nav id="navbar" class="navbar navbar-expand-lg navbar-light container-md px-1 py-0 mb-0 mt-2">
    <div class="container-fluid align-text-bottom justify-content-start align-items-end mb-0"
        style="margin-top:10px;">
        <a class="navbar-brand h1 mb-0" href="{{ '/' | relative_url }}">U高,</a>

        <!-- fills in the space -->
        <div class="col"> 
            <ul class="d-flex align-text-bottom flex-row" style="list-style: none;justify-content: flex-start; gap: 10px;">
                <li class="nav-item">
                    <a class="nav-link h2 my-1" href="{{'/fun' | relative_url}}">fun</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h2 my-1" href="{{'/books' | relative_url}}">books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h2 my-1" href="{{'/life' | relative_url}}">me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h2 my-1" href="{{'/work' | relative_url}}">work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h2 my-1" href="{{'/photos' | relative_url}}">imgs</a>
                </li>
            </ul>
        </div>
        <div id="version" class="col-6" style="text-align: end;">
            last updated: {{ 'now' | date: '%h %d, %Y '}}
        </div>
    </div>
</nav>

