<nav class="navbar navbar-expand-lg navbar-light container-md px-1 py-0 mb-0 mt-4">
  <div class="container-fluid align-text-bottom justify-content-end align-items-end mb-0">

      <a class="navbar-brand h1 mb-0" style="margin-top: 3px;" href="{{ '/' | relative_url }}">you gao</a>
      <a class="navbar-brand h2 mb-0" href="/about" style="margin-right:0; margin-left:0px; margin-top:10px;">(about you)</a>
      <div class="" >
      <div id="react-icon" style="padding-left: 10px;">
      </div>
      </div>

      <div class="col">
          <ul class="d-flex align-text-bottom flex-row" style="list-style: none;justify-content: flex-end; gap: 10px;">
              <li class="nav-item">
              <a class="nav-link h2 my-1 italic-link align-text-bottom" style="pointer-events:none;" aria-current="page" href="#">motifs:</a>
              </li>
              <li class="nav-item">
              <a class="nav-link h2 my-1" href="{{'/fun' | relative_url}}">fun</a>
              </li>
              <li class="nav-item">
              <a class="nav-link h2 my-1" href="{{'/books' | relative_url}}">text</a>
              </li>
              <li class="nav-item">
              <a class="nav-link h2 my-1" href="{{'/life' | relative_url}}">me</a>
              </li>
              <li class="nav-item">
              <a class="nav-link h2 my-1" href="{{'/work' | relative_url}}">work</a>
              </li>
              <li class="nav-item">
              <a class="nav-link h2 my-1" href="{{'/photos' | relative_url}}">img</a>
              </li>
 
          </ul>
    </div>

  </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const setTheme = (themeName) => {
            const themeStyle = document.getElementById('theme-style');
            const toggleIcon = document.getElementById('toggle-icon');
            themeStyle.href = '/assets/' + themeName + '.css';
            toggleIcon.src = '/assets/' + themeName + '.png';
            localStorage.setItem('theme', themeName);
        };

        const handleClick = () => {
            const currentTheme = localStorage.getItem('theme') || 'normalize';
            if (currentTheme === 'normalize') {
                setTheme('normalize_invert');
            } else {
                setTheme('normalize');
            }
        };

        const sizeStyle = {
            width: '40px',
            height: '40px'
        };

        const currentTheme = localStorage.getItem('theme') || 'normalize';
        const srcPath = '/assets/' + currentTheme + '.png';

        const button = document.createElement('div');
        button.id = 'night-mode-toggle';
        button.onclick = handleClick;

        const img = document.createElement('img');
        img.id = 'toggle-icon';
        img.src = srcPath;
        img.alt = 'Night Mode';
        img.style.width = sizeStyle.width;
        img.style.height = sizeStyle.height;

        button.appendChild(img);
        document.getElementById('react-icon').appendChild(button);
    });
</script>
