<nav class="navbar navbar-expand-lg navbar-light container-lg px-1">
  <div class="container-fluid align-text-bottom">

      <a class="navbar-brand h1" href="{{ '/' | relative_url }}">You's Blog</a>
      <a class="navbar-brand h2 my-3" href="{{'/about' | relative_url}}">(About Me)</a>

      <div class="col" >
      <div id="react-icon" class="d-flex justify-content-center align-text-bottom" style="margin-left: 65px; margin-top: 0px;">
        <button id="night-mode-toggle" class="btn btn-link">
            <script>
                const theme = localStorage.getItem('theme') || 'normalize';
                document.write('<img id="toggle-icon" src="/assets/' + theme + '.png" alt="Night Mode" style="width: 50px; height: 50px;">');
            </script>
        </button>  
      </div>
      </div>

      <div class="col">
      <div class="collapse navbar-collapse align-content-end" id="navbarNav">
          <ul class="navbar-nav align-text-bottom">
              <li class="nav-item">
              <a class="nav-link h2 my-3 italic-link align-text-bottom" style="pointer-events:none;" aria-current="page" href="#">Topics:</a>
              </li>
              <li class="nav-item">
              <a class="nav-link h2 my-3" href="{{'/games' | relative_url}}">Games</a>
              </li>
              <li class="nav-item">
              <a class="nav-link h2 my-3" href="{{'/books' | relative_url}}">Books</a>
              </li>
              <li class="nav-item">
              <a class="nav-link h2 my-3" href="{{'/life' | relative_url}}">Life</a>
              </li>
              <li class="nav-item">
              <a class="nav-link h2 my-3" href="{{'/work' | relative_url}}">Work</a>
              </li>
          </ul>
        </div>
    </div>

  </div>
</nav>

<script type="text/babel">
    const Toggle = () => {
        const setTheme = (themeName) => {
            const themeStyle = document.getElementById('theme-style');
            const toggleIcon = document.getElementById('toggle-icon');
            themeStyle.href = '/assets/' + themeName + '.css';
            toggleIcon.src = '/assets/' + themeName + '.png';
            localStorage.setItem('theme', themeName);
        };

        const handleClick = () => {
            const currentTheme = localStorage.getItem('theme') || 'normalize';
            if (currentTheme === 'normalize') {
                setTheme('normalize_invert');
            } else {
                setTheme('normalize');
            }
        }
        const size_style={
            width: '50px',
            height: '50px'
        }
        const currentTheme = localStorage.getItem('theme') || 'normalize';
        const src_path = '/assets/' + currentTheme + '.png';
        return (
            <div>
                <button id="night-mode-toggle" className="btn btn-link" onClick={handleClick}>
                    <img 
                    id="toggle-icon" 
                    src={src_path}
                    alt="Night Mode" 
                    style={size_style} />
                </button>
            </div>
        );
    };

    ReactDOM.render(<Toggle />, document.getElementById('react-icon'));
</script>
