<section id="toolbar" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
    <div style="display: flex; align-items: center; justify-content: flex-end; padding-left: 10px;">
        <div id="react-icon" class="item">
        </div>

        <svg id="arrow" xmlns="http://www.w3.org/2000/svg" fill="#6c7086" class="bi bi-arrow-up item"
            viewBox="0 0 16 16" role="button" aria-label="scroll to top" title="Scroll to top"
            onclick="window.scrollTo({top: 0, behavior: 'smooth'});"
            onmouseover="this.style.transform = 'scale(1)'; this.style.transition = 'transform 0.2s ease-in-out';"
            onmouseout="this.style.transform = 'scale(.8)'; this.style.transition = 'transform 0.2s ease-in-out';"
        >
            <path fill-rule="evenodd"
                d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5" />
        </svg>
    </div>
</section>

   <script>
document.addEventListener('DOMContentLoaded', function() {
    const setTheme = (themeName) => {
        const themeStyle = document.getElementById('theme-style');
        const toggleIcon = document.getElementById('toggle-icon');
        themeStyle.href = '/assets/' + themeName + '.css';
        console.log('Theme changed to:', themeName);
        toggleIcon.src = '/assets/' + themeName + '.webp';
        localStorage.setItem('theme', themeName);
    };

    const handleClick = () => {
        const currentTheme = localStorage.getItem('theme') || 'normalize';
        console.log('Current theme:', currentTheme);
        if (currentTheme === 'normalize') {
            setTheme('normalize_invert');
        } else {
            setTheme('normalize');
        }
    };

    const currentTheme = localStorage.getItem('theme') || 'normalize';
    const srcPath = '/assets/' + currentTheme + '.webp';

    const button = document.createElement('div');
    button.id = 'night-mode-toggle';
    button.onclick = handleClick;

    const img = document.createElement('img');
    img.id = 'toggle-icon';
    img.src = srcPath;
    img.alt = 'Night Mode';

    button.appendChild(img);
    document.getElementById('react-icon').appendChild(button);

    setNavigation();
});

function setNavigation() {
    const currentUrl = window.location.href;
    const firstSlashIndex = currentUrl.indexOf('/', currentUrl.indexOf('://') + 3);
    const path = currentUrl.substring(firstSlashIndex);

    if (path.startsWith('/fun')) {
        document.querySelector('.nav-link[href="/fun"]').classList.add('active');
    } else if (path.startsWith('/books')) {
        document.querySelector('.nav-link[href="/books"]').classList.add('active');
    } else if (path.startsWith('/life')) {
        document.querySelector('.nav-link[href="/life"]').classList.add('active');
    } else if (path.startsWith('/work')) {
        document.querySelector('.nav-link[href="/work"]').classList.add('active');
    } else if (path.startsWith('/photos')) {
        document.querySelector('.nav-link[href="/photos"]').classList.add('active');
    } else if (path.startsWith('/about')) {
        document.querySelector('.navbar-brand[href="/about"]').classList.add('active');
    } 
    else {
        document.querySelector('.navbar-brand[href="/"]').classList.add('active');
    }
}
</script>
