<section id="toolbar" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
    <div style="display: flex; align-items: center; justify-content: flex-end; padding-left: 10px;">
        <div id="react-icon" class="item">
        </div>
    </div>
</section>

   <script>
document.addEventListener('DOMContentLoaded', function() {
    const setTheme = (themeName) => {
        const themeStyle = document.getElementById('theme-style');
        const toggleIcon = document.getElementById('toggle-icon');
        if (themeName === 'normalize'){
            localStorage.setItem('theme', themeName);
            themeStyle.href = '';
            toggleIcon.src = '/assets/' + themeName + '.webp';
            return;
        }
        themeStyle.href = '/assets/css/' + themeName + '.css';
        toggleIcon.src = '/assets/' + themeName + '.webp';
        localStorage.setItem('theme', themeName);
    };

    const handleClick = () => {
        const currentTheme = localStorage.getItem('theme') || 'normalize';
        if (currentTheme === 'normalize') {
            setTheme('normalize_invert');
        } else {
            setTheme('normalize');
        }
    };

    const currentTheme = localStorage.getItem('theme') || 'normalize';
    const srcPath = '/assets/' + currentTheme + '.webp';

    const button = document.createElement('div');
    button.id = 'night-mode-toggle';
    button.onclick = handleClick;

    const img = document.createElement('img');
    img.id = 'toggle-icon';
    img.src = srcPath;
    img.alt = 'Night Mode';

    button.appendChild(img);
    document.getElementById('react-icon').appendChild(button);

    setNavigation();
});

function setNavigation() {
    const currentUrl = window.location.href;
    const firstSlashIndex = currentUrl.indexOf('/', currentUrl.indexOf('://') + 3);
    const path = currentUrl.substring(firstSlashIndex);

    if (path.startsWith('/fun')) {
        document.querySelector('.nav-link[href="/fun"]').classList.add('active');
    } else if (path.startsWith('/books')) {
        document.querySelector('.nav-link[href="/books"]').classList.add('active');
    } else if (path.startsWith('/life')) {
        document.querySelector('.nav-link[href="/life"]').classList.add('active');
    } else if (path.startsWith('/work')) {
        document.querySelector('.nav-link[href="/work"]').classList.add('active');
    } else if (path.startsWith('/photos')) {
        document.querySelector('.nav-link[href="/photos"]').classList.add('active');
    } else if (path.startsWith('/about')) {
        document.querySelector('.navbar-brand[href="/about"]').classList.add('active');
    } 
    else {
        document.querySelector('.navbar-brand[href="/"]').classList.add('active');
    }
}
</script>
