/* File contains all of the animation logic */
a {
	color: #0366d6;
	text-decoration: none;
    position: relative; 
    text-decoration: none; 
    overflow: hidden; 
    display: inline-flex;
}

.footnotes a {
    display: inline;
}

.footnotes .reversefootnote {
    display: inline;
}

a::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    width: 0%; 
    height: 100%; 
    transition: width 0.5s ease; 
    z-index: -1; 
}

a:hover::before {
    width: 100%;
}

.blog-nav a:hover::before {
    all: revert;
}
