a {
	color: #0366d6;
	text-decoration: none;
    position: relative; 
    text-decoration: none; 
    overflow: hidden; 
    display: inline-flex;
}

.footnotes a {
    display: contents;
}

.footnotes .reversefootnote {
    display: inline;
}

a::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    width: 0%; 
    height: 100%; 
    background: #eeeeee; 
    transition: width 0.5s ease; 
    z-index: -1; 
}

a:hover::before {
    width: 100%;
}

.blog-nav a:hover::before {
    color: grey;
    width: 90%;
}

.nav-link:hover {
    color: grey;
}

.navbar-brand:hover {
    color: grey;
}

.title:hover {
    color: blue;
}

a:hover {
    color: blue;
}

.blog-nav a:hover {
    color: grey;
}
