:root {
  --mocha-bg: #101010;
  --mocha-text: #b0b0b0; /* blog text, blog navbar */
  --mocha-headers: #ffffff; /* blog headers, blog hr ender, blognav readtime */
  --mocha-highlight: #272727;
  --mocha-link: #458ee6;
  --mocha-subtext: #777777;
  --mocha-texthighlight: #d9ba73;
}

body { 
    color: var(--mocha-text);
	background-color: var(--mocha-bg);
}

.blog-nav a {
    color: var(--mocha-texthighlight);
}

.navbar-brand { 
	color: var(--mocha-text)!important;
}

.nav-link {
	color: var(--mocha-text)!important;
}

.active { /* the current area on the navbar */
	background: var(--mocha-highlight);
    color: var(--mocha-headers)!important;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--mocha-headers)!important;
}

.time {
    color: var(--mocha-headers);
}

.nav-link:hover {
    color: var(--mocha-headers)!important;
}

.navbar-brand:hover {
    color: var(--mocha-headers)!important;
}

.postinfo span {
    color: var(--mocha-subtext)
}

.postinfo #modified,.postinfo #tags {
    color: var(--mocha-texthighlight)
}

td {
    color: var(--mocha-subtext)
}

.markdown-body blockquote {
	color: var(--mocha-subtext)!important;
	border-left: 5px solid var(--mocha-highlight);
}

figcaption {
	color: var(--mocha-subtext)!important;
}

.footnotes ol {
    color: var(--mocha-subtext)!important;
}

.dictionary-box {
    background: var(--mocha-bg);
    color: var(--mocha-texthighlight);
}

.markdown-body hr {
    background-color: var(--mocha-texthighlight)!important;
}

hr {
    border-bottom: solid 1px var(--mocha-texthighlight)!important;
}

.blog-nav a:hover {
    color: var(--mocha-texthighlight);
}

em {
    color: var(--mocha-texthighlight);
}

th {
    color: var(--mocha-texthighlight);
}

.tableofcontents {
    color: var(--mocha-highlight);
}

.highlighter-rouge {
    background: var(--mocha-highlight);
}

a::before {
    background: var(--mocha-highlight);
}

a:hover {
    color: var(--mocha-link);
}

.title:hover {
    color: var(--mocha-link);
}


