:root {
  --mocha-bg: #11111b;
  --mocha-text: #cdd6f4;
  --mocha-subtext: #a6adc8;
  --mocha-highlight: #6c7086;
  --mocha-link: #b4befe;
}

body {
	color: var(--mocha-text);
	background-color: var(--mocha-bg);
}

.navbar-brand {
	color: var(--mocha-text)!important;
}

.nav-link {
	color: var(--mocha-text)!important;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--mocha-text);
}

a::before {
    background: var(--mocha-highlight);
}

.markdown-body blockquote {
	color: var(--mocha-subtext)!important;
	border-left: 5px solid var(--mocha-highlight);
}

.blockquote-footer {
	color: var(--mocha-subtext)!important
}

.nav-link:hover {
    color: var(--mocha-subtext)!important;
}

.navbar-brand:hover {
    color: var(--mocha-subtext)!important;
}

.markdown-body hr {
    background-color: var(--mocha-subtext)!important;
}

hr {
    border-bottom: solid 1px var(--mocha-subtext)!important;
}

.blog-nav a,.time {
    color: var(--mocha-subtext);
}

.blog-nav a:hover {
    color: var(--mocha-subtext);
}

em {
    color: var(--mocha-subtext);
}

.active {
	background: var(--mocha-highlight);
    color: var(--mocha-subtext)!important;
}

.active a {
    color: var(--mocha-link);
}

a:hover {
    color: var(--mocha-link);
}

.title:hover {
    color: var(--mocha-link);
}

.highlighter-rouge {
    background: var(--mocha-highlight);
}

.dictionary-box {
    background: var(--mocha-bg);
    color: var(--mocha-text);
}

