#footnotes {
	border-bottom: 1px dotted;
}

.bloglist h2 {
	margin-bottom: .25em !important;
}

#toolbar .item img {
	width: 40px;
	height: 40px
}

#toolbar .item {
	width: 40px;
	height: 40px
}

#toolbar #arrow {
	transform: scale(.8)
}

.time {
	font-size: 0.72em;
	margin-left: 0.5em;
	margin-bottom: 0.25em;
	color: grey;
	display: block
}

.blog-nav a {
	color: grey;
	text-decoration: none;
	font-weight: 400;
	display: block
}

.blog-nav a a {
	display: contents
}

.blog-nav div .nav-h1 {
	font-size: 0.81em;
	margin-left: 0.5em;
	display: block
}

.nav-h2 {
	font-size: 0.72em;
	margin-left: 0.59em;
	display: block
}

.nav-h3 {
	font-size: 0.63em;
	margin-left: 1.5em;
	display: block
}

.nav-h4 {
	font-size: 0.54em;
	margin-left: 3em;
	display: block
}

.video-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 0;
	max-width: 100%
}

.video-grid div {
	width: 100%;
	margin: auto
}

.video-grid video {
	width: 100%;
	height: 100%
}

iframe {
	width: 100%;
	height: 300px
}

body main .photo-container img {
	margin: auto auto 10px;
	display: block;
	max-width: 100%;
	max-height: 400px;
	object-fit: scale-down
}

body main img {
	max-width: 100%;
	max-height: 300px;
	display: block;
	height: auto;
	margin: 2rem auto
}

.game_logo {
	display: block;
	margin: auto;
	width: 100%;
	margin: 0
}

.italic-link {
	font-style: italic
}

.date {
	font-size: 15px!important;
	width: 55px;
	text-align: right
}

.title {
	flex: 1
}

.Site {
	display: flex;
	min-height: 100vh;
	flex-direction: column
}

.Site-content {
	flex: 1
}

@media (max-width: 1000px) {
	.blog-nav {
		display: none
	}
}

@media (max-width: 768px) {
	figcaption p {
		margin-bottom: 0
	}

	#navbar {
		margin-top: 0 !important
	}

	#version {
		display: none !important
	}

	.comment {
		display: none !important
	}

	#photo-homepage {
		margin-top: 20px
	}

    #qotm {
        margin-top: 5px
    }

    .navbar-brand {
        margin-right: 8px!important;
    }
}

.active {
	background: #eeeeee;
    color: grey!important;
}
