<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        {% seo %}
        <meta property="og:image" content="{{ site.baseurl }}/assets/logo_300.png">
        <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.name }}" />
        <link rel="icon" href="{{ site.baseurl }}/assets/logo.png" type="image/icon type">

        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/combined.css">
        <script src="{{ site.baseurl }}/assets/js/blognav.js"></script>
        <script src="{{ site.baseurl }}/assets/js/dictionary.js"></script>
        <!-- content needs to be contained inside html tags to access page variables -->
   </head>

    <body class="Site">
        {% include header.html %}
        <main class="Site-content">
            <div class="container-md px-3 markdown-body">
                <hr/>


{% assign parts = content | split: '</h1>' %}
{% if parts.size > 1 %}
  {{ parts[0] }}</h1>
  <div class="postinfo">
      <span>last modified: <span id="modified">{{ page.last_modified_at }}</span> | </span>
      <span>tags: <span id="tags">{{ page.tags | join: ", "}}</span></span>
  </div>
  {{ parts[1] | join: '</h1>' }}
{% else %}
  {{ content }}
{% endif %}


            </div>
        </main>
    </body>
    {% include footer.html %}
</html>
