<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff">
        {% seo %}
        <meta property="og:image" content="{{ site.baseurl }}/assets/logo_300.png">
        <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.name }}" />
        <link rel="icon" href="{{ site.baseurl }}/assets/logo.png" type="image/icon type">

        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/combined.css">

        <script>
        (function() {
        var theme = localStorage.getItem('theme');
            var themeHref = theme === "normalize_invert"
                ? "{{ site.baseurl }}/assets/css/normalize_invert.css"
                : "";
        document.write('<link id="theme-style" rel="stylesheet" href="' + themeHref + '">');
        })();
        </script>

        <script src="{{ site.baseurl }}/assets/js/blognav.js"></script>

   </head>

    <body class="Site">
        {% include header.html %}
        <main class="Site-content">
            <div class="container-md px-3 markdown-body">
                <hr/>
                {{ content }}
            </div>
        </main>
    </body>
    {% include footer.html %}
    {% include toolbar.html %}
